header{
    /* height: 100vh; */
    padding-top: 2.5rem;
    margin-bottom: 0rem;
    /* overflow: hidden; */
}
#header{
    /* background-color: black; */
    height:50vh;
}
.header__container{
    text-align: center;
    /* height: 100%; */
    /* position: relative; */
    /* margin-bottom: -15rem; */
    /* background-color: black; */
}
/* CTA  ------------------------- */
/* .cta{
  margin-top: 2.5rem;
  display: flex;
  gap: 1.2rem; 
  justify-content: right; 
  right: 0;
} */
/* socials--------------------------- */
.header__socials{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    font-size: 2.5rem;
    left: 0;
    top:0;

}


.header__socials::after{
    content: '';
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}

/* Header Image */
/* .me{
    background: linear-gradient(var(--color-primary), transparent);
    width: 20rem;
    height:30rem;
    position: absolute;
    left: calc(50% - 10rem);
    margin-top: 4rem;
    border-radius: 12rem 12rem 0 0;
    overflow: hidden;
    padding: 0rem 1.5rem 1.5rem 1.5rem;
} */
/* Scroll down */
/* .scroll__down{
    position: absolute;
    right: -2.3rem;
    bottom: 7.5rem;
    transform: rotate(90deg);
    font-size: 1.8rem;
} */
h1{
    font-size: 4.5rem;
}
/* med devices--------------------------------------- */

@media screen and (max-width: 1024px){    
      
}

/* small devices--------------------------------- */
@media screen and (max-width: 600px){
    header{
        /* height:100vh;       */
        margin-bottom: 9.5rem;
    }
    /* .scroll__down{
        display: none;
    } */
    .header__socials{
        display: none;
    }
}