.experience__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.experience__container > div{
    background: var(--color-bg-variant);
    padding: 2.4rem 5rem;
    border-radius:0 0 2rem 2rem;
    border: 1px solid transparent;
    transition: var(--transition)
}
.experience__container > div:hover{
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}
.experience__container > div h3{
    text-align: center;
    margin-bottom: 2rem;
    color: var(--color-bg);
    background: var(--color-primary);
    border-radius: 0 0 1rem 1rem;
    box-shadow:0 1rem 2rem rgba(0,0,0, 0.3);
}
.experience__content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
}
/* .experience__details{
    display: flex;
    gap:1rem;
} */
#experience{
    margin-top: -11rem;
}
.experience__details > h4{
    color: var(--color-primary)
}


@media screen and (max-width: 1024px){    
 .experience__container{
     grid-template-columns: 1fr;
     gap: 2rem;
 }
}
 
 /* small devices--------------------------------- */
 @media screen and (max-width: 600px){
    .container.experience__container{
        width: var(--container-width-sm);
    } 
    .experience__content{
        grid-template-columns: 1fr;
    }
 
 }
